
<%- include("partials/header.ejs") %>

            <div class="col-span-5 xl:col-span-4 overflow-y-auto bg-slate-100 p-10 flex flex-col gap-8">

                <div class="w-full border-4 px-6 py-6 rounded-lg">
                    <h1 class="text-2xl font-bold mb-2 text-indigo-950">About <span class="text-amber-400">Me</span></h1>
                    <p class="font-medium text-gray-600">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                </div>

                <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 xl:grid-cols-4 gap-4">

                    <a href="#">
                        <div class="rounded-lg bg-gray-200 text-center py-10 px-6">
                            <i class="fa-solid fa-object-group text-6xl mb-6 text-green-500"></i>
                            <h2 class="text-md font-bold">Wireframing</h2>
                        </div>
                    </a>

                    <a href="#">
                        <div class="rounded-lg bg-gray-200 text-center py-10 px-6">
                            <i class="fa-solid fa-swatchbook text-6xl mb-6 text-cyan-500"></i>
                            <h2 class="text-md font-bold">UI Design</h2>
                        </div>
                    </a>
                    
                    <a href="#">
                        <div class="rounded-lg bg-gray-200 text-center py-10 px-6">
                            <i class="fa-solid fa-laptop-code text-6xl mb-6 text-rose-500"></i>
                            <h2 class="text-md font-bold">Front-end coding</h2>
                        </div>
                    </a>

                    <a href="#">
                        <div class="rounded-lg bg-gray-200 text-center py-10 px-6">
                            <i class="fa-solid fa-terminal text-6xl mb-6 text-lime-500"></i>
                            <h2 class="text-md font-bold">Back-end coding</h2>
                        </div>
                    </a>

                    <a href="#">
                        <div class="rounded-lg bg-gray-200 text-center py-10 px-6">
                            <i class="fa-solid fa-wand-magic-sparkles text-6xl mb-6 text-yellow-500"></i>
                            <h2 class="text-md font-bold">Graphic Design</h2>
                        </div>
                    </a>

                    <a href="#">
                        <div class="rounded-lg bg-gray-200 text-center py-10 px-6">
                            <i class="fa-brands fa-wordpress text-6xl mb-6 text-purple-500"></i>
                            <h2 class="text-md font-bold">CMS</h2>
                        </div>
                    </a>
                </div>
                
                <div class="w-full flex flex-col gap-4 border-4 px-6 py-6 rounded-lg">
                    <h1 class="text-2xl font-bold text-indigo-950">My Toolkit</h1>
                    <hr>
                    
                    <div class="w-full flex items-center gap-8">
                        <img src="../icons/html.png" alt="HTML Logo" class="w-20 inline-block">
                        <div class="w-full inline-block">
                            <div class="w-full flex justify-between text-lg font-bold text-indigo-950"><h1>HTML</h1> <span>80%</span></div>
                            <div class="w-full h-3 rounded-full bg-gray-300 mt-1">
                                <div class="w-4/5 h-3 bg-orange-500 rounded-full"></div>
                            </div>
                        </div>
                    </div>

                    <div class="w-full mt-4 flex items-center gap-8">
                        <img src="../icons/css.png" alt="HTML Logo" class="w-20 inline-block">
                        <div class="w-full inline-block">
                            <div class="w-full flex justify-between text-lg font-bold text-indigo-950"><h1>CSS</h1> <span>80%</span></div>
                            <div class="w-full h-3 rounded-full bg-gray-300 mt-1">
                                <div class="w-4/5 h-3 bg-blue-500 rounded-full"></div>
                            </div>
                        </div>
                    </div>

                    <div class="w-full mt-4 flex items-center gap-8">
                        <img src="../icons/js.png" alt="HTML Logo" class="w-20 inline-block">
                        <div class="w-full inline-block">
                            <div class="w-full flex justify-between text-lg font-bold text-indigo-950"><h1>Javascript</h1> <span>80%</span></div>
                            <div class="w-full h-3 rounded-full bg-gray-300 mt-1">
                                <div class="w-4/5 h-3 bg-yellow-400 rounded-full"></div>
                            </div>
                        </div>
                    </div>

                    <div class="w-full mt-4 flex items-center gap-8">
                        <img src="../icons/node-js.png" alt="HTML Logo" class="w-20 inline-block">
                        <div class="w-full inline-block">
                            <div class="w-full flex justify-between text-lg font-bold text-indigo-950"><h1>Node JS</h1> <span>80%</span></div>
                            <div class="w-full h-3 rounded-full bg-gray-300 mt-1">
                                <div class="w-4/5 h-3 bg-green-600 rounded-full"></div>
                            </div>
                        </div>
                    </div>

                    <div class="w-full mt-4 flex items-center gap-8">
                        <img src="../icons/php.png" alt="HTML Logo" class="w-20 inline-block">
                        <div class="w-full inline-block">
                            <div class="w-full flex justify-between text-lg font-bold text-indigo-950"><h1>PHP</h1> <span>80%</span></div>
                            <div class="w-full h-3 rounded-full bg-gray-300 mt-1">
                                <div class="w-4/5 h-3 bg-blue-200 rounded-full"></div>
                            </div>
                        </div>
                    </div>

                    <div class="w-full mt-4 flex items-center gap-8">
                        <img src="../icons/figma.png" alt="HTML Logo" class="w-20 inline-block">
                        <div class="w-full inline-block">
                            <div class="w-full flex justify-between text-lg font-bold text-indigo-950"><h1>Figma</h1> <span>80%</span></div>
                            <div class="w-full h-3 rounded-full bg-gray-300 mt-1">
                                <div class="w-4/5 h-3 bg-purple-500 rounded-full"></div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="w-full flex flex-col gap-4 px-6 py-6 bg-yellow-400 rounded-lg">
                    <h1 class="text-2xl font-bold text-indigo-950">Learning is <span class="text-purple-800">Superpower!</span></h1>
                    <p class="font-medium text-indigo-950 mb-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                
                    <div class="w-full flex items-center gap-8">
                        <img src="../icons/coursera.png" alt="HTML Logo" class="w-20 inline-block rounded-md">
                        <div class="w-full inline-block">
                            <div class="w-full flex justify-between text-lg font-bold text-indigo-950"><h1>Google UX Design Professional Certificate</h1> <span>10%</span></div>
                            <div class="w-full h-3 rounded-full bg-gray-300 mt-1 mb-1">
                                <div class="w-1/5 h-3 bg-green-500 rounded-full"></div>
                            </div>
                            <div class="w-full">
                                <span class="bg-gray-100 text-xs py-0.5 px-4 font-medium rounded-full inline-block">HTML</span>
                                <span class="bg-gray-100 text-xs py-0.5 px-4 font-medium rounded-full inline-block">CSS</span>
                                <span class="bg-gray-100 text-xs py-0.5 px-4 font-medium rounded-full inline-block">Javascript</span>
                                <span class="bg-gray-100 text-xs py-0.5 px-4 font-medium rounded-full inline-block">Node JS</span>
                                <span class="bg-gray-100 text-xs py-0.5 px-4 font-medium rounded-full inline-block">React JS</span>
                            </div>
                        </div>
                    </div>

                    <div class="w-full flex items-center gap-8">
                        <img src="../icons/udemy.png" alt="HTML Logo" class="w-20 inline-block rounded-md">
                        <div class="w-full inline-block">
                            <div class="w-full flex justify-between text-lg font-bold text-indigo-950"><h1>Web Development Bootcamp 2024</h1> <span>100%</span></div>
                            <div class="w-full h-3 rounded-full bg-gray-300 mt-1 mb-1">
                                <div class="w-5/5 h-3 bg-purple-500 rounded-full"></div>
                            </div>
                            <div class="w-full">
                                <span class="bg-gray-100 text-xs py-0.5 px-4 font-medium rounded-full inline-block">UX Research</span>
                                <span class="bg-gray-100 text-xs py-0.5 px-4 font-medium rounded-full inline-block">Design sprints</span>
                            </div>
                        </div>
                    </div>
                
                </div>

                <div class="grid grid-cols-2 gap-4">
                    <div class="flex flex-col gap-4">
                        <div class="w-full px-6 py-6 mb-4 bg-gray-200 rounded-lg">
                            <h1 class="text-2xl font-bold text-indigo-950 pb-2 border-b-2 border-gray-300 mb-4">Education</h1>
                            
                            <div class="w-full">
                                <h1 class="uppercase font-semibold text-sm mb-1 text-gray-600">College</h1>
                                <div class="flex justify-between text-lg font-bold">
                                    <h2>B.Sc. in Information Technology</h2>
                                    <span class="text-gray-600 text-sm">2013 - 2017</span>
                                </div>
                                <h3 class="font-semibold text-sm text-gray-600">International School of Asia and the Pacific</h3>
                            </div>
                        </div>

                        <div class="w-full px-6 py-6 bg-gray-200 rounded-lg">
                            <h1 class="text-2xl font-bold text-indigo-950 pb-2 border-b-2 border-gray-300 mb-4">Work Experience</h1>
                            
                            <div class="w-full pb-4 border-b-2 border-gray-300 mb-4">
                                <div class="flex justify-between text-lg font-bold">
                                    <h2>Project Assistant I</h2>
                                    <span class="text-gray-600 text-sm">2022 - 2023</span>
                                </div>
                                <h3 class="font-semibold text-sm text-gray-600">Department of Science in Information Technology II</h3>
                            </div>
                            
                            <div class="w-full pb-4 border-b-2 border-gray-300 mb-4">
                                <div class="flex justify-between text-lg font-bold">
                                    <h2>ICT Coordinator</h2>
                                    <span class="text-gray-600 text-sm">2021 - 2022</span>
                                </div>
                                <h3 class="font-semibold text-sm text-gray-600">International School of Asia and the Pacific</h3>
                            </div>

                            <div class="w-full mb-4 pb-4 border-b-2 border-gray-300">
                                <div class="flex justify-between text-lg font-bold">
                                    <h2>Web Developer</h2>
                                    <span class="text-gray-600 text-sm">2019 - 2021</span>
                                </div>
                                <h3 class="font-semibold text-sm text-gray-600">International School of Asia and the Pacific</h3>
                            </div>

                            <div class="w-full">
                                <div class="flex justify-between text-lg font-bold">
                                    <h2>IT Technician</h2>
                                    <span class="text-gray-600 text-sm">2017 - 2018</span>
                                </div>
                                <h3 class="font-semibold text-sm text-gray-600">International School of Asia and the Pacific</h3>
                            </div>
                        </div>
                    </div>

                    <div class="flex gap-4 flex-col">
                        
                        <div class="w-full px-6 py-6 bg-gray-200 rounded-lg mb-4">
                            <h1 class="text-2xl font-bold text-indigo-950 pb-2 border-b-2 border-gray-300 mb-4">Trainings / Certificates</h1>
                            
                            <div class="w-full pb-4 border-b-2 border-gray-300 mb-4">
                                <div class="flex justify-between text-lg font-bold">
                                    <h2>Digital Twin Training Course</h2>
                                    <span class="text-gray-600 text-sm">2022</span>
                                </div>
                                
                                <div class="w-full">
                                    <span class="bg-gray-300 text-xs py-0.5 px-4 font-medium rounded-full inline-block">Python</span>
                                    <span class="bg-gray-300 text-xs py-0.5 px-4 font-medium rounded-full inline-block">Data Cleaninng</span>
                                    <span class="bg-gray-300 text-xs py-0.5 px-4 font-medium rounded-full inline-block">Geospatial Analysis</span>
                                    <span class="bg-gray-300 text-xs py-0.5 px-4 font-medium rounded-full inline-block">3D Modelling</span>
                                    <span class="bg-gray-300 text-xs py-0.5 px-4 font-medium rounded-full inline-block">Cesium</span>
                                </div>
                            </div>

                            <div class="w-full">
                                <div class="flex justify-between text-lg font-bold">
                                    <h2>Managing Services in the Government</h2>
                                    <span class="text-gray-600 text-sm">2022</span>
                                </div>
                                
                                <div class="w-full">
                                    <span class="bg-gray-300 text-xs py-0.5 px-4 font-medium rounded-full inline-block">ITIl Foundation</span>
                                    <span class="bg-gray-300 text-xs py-0.5 px-4 font-medium rounded-full inline-block">ITIL Framework</span>
                                    <span class="bg-gray-300 text-xs py-0.5 px-4 font-medium rounded-full inline-block">Guiding Principles</span>
                                </div>
                            </div>
                        </div>

                        <div class="w-full px-6 py-6 border-4 rounded-lg">
                            <h1 class="text-2xl font-bold text-indigo-950 pb-2 border-b-2">Interest</h1>
                            
                        </div>
                    </div>
                </div>
                    
            </div>

            

<%- include("partials/footer.ejs") %>